#file-viewer
  position fixed
  top 0
  right 0
  left 0
  bottom 60%

  .navbar
    margin-bottom 0

  .navbar-inner
    border-radius 0

  .prettyprint
    border-radius 0
    margin-bottom 0
    min-height 100%
    box-sizing border-box

  .code-preview
    position absolute
    top 53px
    bottom 0
    left 0
    right 0
    overflow-y auto

#editor
  position fixed
  top 40%
  right 0
  left 0
  bottom 0

.editor
  height 100%
  ul
    list-style none

.editor-controls
  box-sizing border-box
  display block
  float left
  width 55%
  padding 15px 25px
  overflow-y auto
  height 100%

.editor-tree
  margin-left 0
  display block
  float left
  width 45%
  background #ECF0F1
  height 100%
  overflow-y auto
  box-sizing border-box
  padding 25px

  .editing
    border 1px dotted #1ABC9C

  .fui-arrow-right
    transition all 1s ease

  .fui-arrow-right.expanded
    transform rotate(90deg)

.element-properties
.element-creation
  float left
  width 50%
