div(ng-init="root.expanded = false")
  h4
    a(ng-click="root.expanded = !root.expanded")
      span.fui-arrow-right(ng-class="{expanded: root.expanded}")

    a(ng-click="edit(root); root.expanded = true", ng-class="{editing: isEditing(root)}")
      span {{root.itemProp}} = {{root.id}}\#{{root.elementId}}

  ul(ng-show="root.expanded")
    li(ng-repeat="root in root.children", ng-include="'/partials/microdata-item.html'")
