div(ng-init="files = []")
  div#file-viewer
    .navbar.navbar-inverse: .navbar-inner
      ul.nav
        li
          a(ng-click="files.push({})") New File
        li(ng-repeat="file in files")
          a(ng-click="$parent.focusedFile = file") {{file.name || "Untitled"}}

    div.code-preview(ng-repeat="file in files", ng-show="focusedFile == file")
      pre.prettyprint.linenums(md-html-element="file.root.toHTML()")

  div#editor(ng-repeat="file in files", ng-show="focusedFile == file")
    label(ng-show="false")
      span File Name
      input(ng-model="file.name", type="text", placeholder="File Name")

    md-editor(
      md-editor-root    = "$parent.file.root"
      md-editor-schemas = "schemas"
      md-editor-editors = "editors"
    )

